.hero {
  text-align: center;
}

.description {
  max-width:  562px;

  margin-bottom: 60px;
  color: #B8B8B8;

  white-space: pre-line;
}

.joinBranchButton {
  width: 400px;
  padding: 24px !important;
  margin-bottom: 32px;
}


.subDescription {
  max-width: 407px;
  color: #7C7C7C;

  margin-bottom: 64px;
}